<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NPC">
      <section name="大善大师" type="System.Configuration.NameValueSectionHandler"/>
      <section name="光洙" type="System.Configuration.NameValueSectionHandler"/>
      <section name="幽美" type="System.Configuration.NameValueSectionHandler"/>
      <section name="紫霞神女" type="System.Configuration.NameValueSectionHandler"/>
      <section name="六面神石(失乐园)" type="System.Configuration.NameValueSectionHandler"/>
      <section name="六面神石(潘夜村落)" type="System.Configuration.NameValueSectionHandler"/>
      <section name="六面神石(诺玛村落)" type="System.Configuration.NameValueSectionHandler"/>
      <section name="英哲" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="Map">
      <section name="大善大师" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="Misc">
      <section name="大善大师" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <NPC>
      <大善大师>
        <add key ="所在地图" value ="失乐园"/>
        <add key ="坐标" value ="163,195"/>
        <add key ="对话历程" value ="因为级别已够附加追加能力值"/>
      </大善大师>
      <光洙>
        <add key ="所在地图" value ="失乐园"/>
        <add key ="坐标" value ="163,195"/>
        <add key ="对话历程" value ="因为级别已够附加追加能力值"/>
      </光洙>
      <幽美>
        <add key ="所在地图" value ="失乐园"/>
        <add key ="坐标" value ="163,195"/>
        <add key ="对话历程" value ="因为级别已够附加追加能力值"/>
      </幽美>
      <紫霞神女>
        <add key ="所在地图" value ="失乐园"/>
        <add key ="坐标" value ="163,195"/>
        <add key ="对话历程" value ="因为级别已够附加追加能力值"/>
      </紫霞神女>
    </NPC>
</configuration>